@using MachineRental.Common
@model IEnumerable<MachineRental.Models.Machine>

@{
    ViewBag.Title = "Machines";
}

<br />
<button class="btn pmd-btn-fab pmd-btn-raised pmd-tooltip pmd-ripple-effect btn-primary"
        data-toggle="tooltip" data-placement="right" title="Ajouter une machine"
        type="button" onclick="location.href = '@Url.Action("Create", "Machine")'">
    <i class="material-icons pmd-md">add</i>
</button>
<br />
<br />

<!-- Table Card -->
<div class="pmd-card pmd-z-depth">
    <div class="table-responsive">
        <table id="machines" class="table pmd-table table-hover table-striped display responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width:22%">@Html.DisplayNameFor(model => model.Number)</th>
                    <th style="width:22%">@Html.DisplayNameFor(model => model.MachineType.Name)</th>
                    <th style="width:22%">@Html.DisplayNameFor(model => model.IsRented)</th>
                    <th style="width:22%">@Html.DisplayNameFor(model => model.AddressPosition.City)</th>
                    <th style="width:12%">Modifier / Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machine in Model)
                {
                    <!-- Simple list -->
                    <div tabindex="-1" class="modal fade" id="simple-listing-dialog-@machine.Id" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header pmd-modal-bordered">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                    <h2 class="pmd-card-title-text">Détails de la machine</h2>
                                </div>
                                <div class="pmd-modal-list">
                                    <dl class="dl-horizontal">
                                        <dt>@Html.DisplayNameFor(model => model.Number)</dt>
                                        <dd>@Html.DisplayFor(m => machine.Number)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.MachineTypeId)</dt>
                                        <dd>@Html.DisplayFor(m => @machine.MachineType.Name)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.ParkNumberId)</dt>
                                        <dd>@Html.DisplayFor(m => @machine.ParkNumber.Number)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                                        <dd>@Html.DisplayFor(m => @machine.AddressPosition.Address1)</dd>
                                        <dd>@Html.DisplayFor(m => @machine.AddressPosition.Address2)</dd>
                                        <dd>@Html.DisplayFor(m => @machine.AddressPosition.ZipCode)</dd>
                                        <dd>@Html.DisplayFor(m => @machine.AddressPosition.City)</dd>
                                        <dd>@Html.DisplayFor(m => @machine.AddressPosition.Country)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.IsRented)</dt>
                                        @{var rented = @machine.IsRented ? Constant.InUse : Constant.Available;}
                                        <dd>@rented</dd>
                                        @*@{
            if (machine.IsRented)
            {
                <dt>@Html.DisplayNameFor(model => model.Rental.Order.CustomerId)</dt>
                <dd>@Html.DisplayFor(m => @machine.Rental.Order.Customer.Name)</dd>
            }
        }*@
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <td><a data-target="#simple-listing-dialog-@machine.Id" data-toggle="modal">@machine.Number</a></td>
                        <td>@machine.MachineType.Name</td>
                        <td>@rented</td>
                        <td>@machine.AddressPosition.City</td>
                        <td>
                            <button class="btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-warning pmd-tooltip" 
                                    data-toggle="tooltip" data-placement="top" title="Modifier machine"
                                    type="button">
                                <i class="material-icons md-light pmd-sm"
                                   onclick="location.href = encodeURIComponent('@Url.Action("Edit", "Machine", new {id = @machine.Id})')">update</i>
                            </button>
                            <button data-machine-id="@machine.Id" class="btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger js-delete pmd-tooltip" 
                                    data-toggle="tooltip" data-placement="top" title="Supprimer machine"
                                    type="button">
                                <i class="material-icons pmd-sm">delete</i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script>
    $(document).ready(function () {
        // Manage Toastr after form post
        var success = "@TempData[Constant.Success]";
        if (success === "@Constant.New") {
            toastr.success("@Constant.NewMachineSaveSuccess");
            success = "";
        }
        else if (success === "@Constant.Update") {
            toastr.success("@Constant.MachineUpdateSuccess");
            success = "";
        }

        //Build JQuery Datatable
        var table = $('#machines').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            order: [0, 'asc'],
            bFilter: true,
            bLengthChange: true,
            pagingType: "simple",
            "paging": true,
            "searching": true,
            "language": {
                "info": " _START_ - _END_ sur _TOTAL_ ",
                "sLengthMenu": "<span class='custom-select-title'>Résultats par page:</span> <span class='custom-select'> _MENU_ </span>",
                "sSearch": "",
                "sSearchPlaceholder": "Rechercher",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                processing: "Traitement en cours...",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                },
                "paginate": {
                    "sNext": " ",
                    "sPrevious": " "
                }
            },
            dom:
                "<'pmd-card-title'<'data-table-title'><'search-paper pmd-textfield'f>>" +
                "<'custom-select-info'<'custom-select-item'><'custom-select-action'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'pmd-card-footer' <'pmd-datatable-pagination' l i p>>"
        });

        // set datatables options
        $('.custom-select-info').hide();
        $("div.data-table-title").html('<h2 class="pmd-card-title-text">Liste des machines</h2>');

        // set column search
        $('#machines thead tr').clone(true).appendTo( '#machines thead' );
        $('#machines thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Rechercher '+title+'" />' );

            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        // activate tooltip management
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Manage row/data deletion on click on corresponding button
        $("#machines").on("click", ".js-delete", function () {
            var button = $(this);
            // custom confirm box
            bootbox.confirm({
                message: "Êtes-vous sûr(e) de vouloir supprimer cette machine ?",
                buttons: {
                    cancel: {
                        label: 'Annuler',
                        className: 'btn btn-default pmd-ripple-effect pmd-btn-raised',
                    },
                    confirm: {
                        label: 'Confirmer',
                        className: 'btn btn-primary pmd-ripple-effect pmd-btn-raised',
                    }
                },
                callback: function(result) {
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("Delete", "Machine")/' + button.attr("data-machine-id"),
                            method: "post",
                            success: function () {
                                toastr.success("Machine supprimée avec succès");
                                table.row(button.parents("tr")).remove().draw();  // remove element from datatable and not just from the DOM using button.parents("tr").remove()
                            }
                        });
                    }
                }
            });

        });
    });
    </script>
}
