@model MachineRental.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Vous avez oublié votre mot de passe ?";
}


<div class="row">
    <div class="center-block col-md-4" style="float:none">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Entrez une adresse de messagerie</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "validation-summary-errors" })
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                @Html.LabelFor(m => m.Email, new { @class = "control-label pmd-input-group-label" })
                <div class="input-group">
                    <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="text-center text-md-left">
                    <input type="submit" class="btn btn-primary pmd-ripple-effect pmd-btn-raised" value="Lien e-mail" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
