@using MachineRental.Common


<nav id="navbar-container" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        @Html.ActionImage("Index", "Home", null, "/images/morel.jpg", "morel.jpg", new { @class = "navbar-brand", id="logo-navbar" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown @( ViewContext.RouteData.Values["Controller"].ToString() == "Rentals" ? "active" : "")">
                    @Html.ActionLink("LOCATIONS", "Index", "Rentals", null,
                    new Dictionary<string, object> { { "class", "nav-link" } })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Attachments" ? "active" : "")">
                    @Html.ActionLink("ATTACHEMENTS", "Index", "Attachments", null, new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</nav>

@section scripts{
    <script>
        $(document).on('click', 'ul li', function () {
            $(this).addClass('active').siblings().removeClass('active');
        });
    </script>
}


